<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<h2>Meal Recipes</h2>

<div id="accordion" class="recipes">
  <h3>Level 1: Kid Chef Meals</h3>
  <div>
    <table>
      <tr>
      <% @recipes.each do |recipe| %>
        <% if recipe.level == 1 %>
          <%= render "level_1_recipe", recipe: recipe %>
        <% end %>
      <% end %>
      </tr>
    </table>
  </div>
  <h3>Level 2: Beginner Meals</h3>
  <div>
    <table>
      <tr>
        <% @recipes.each do |recipe| %>
            <% if recipe.level == 2 %>
              <%= render "level_2_recipe", recipe: recipe %>
            <% end %>
        <% end %>
      </tr>
    </table>
  </div>
</div>

<br>

<script>
  $(function() {
    $( "#accordion" ).accordion();
  });
</script>
